{% extends 'base.html.twig' %}

{% block title %}Star Wars API - Home{% endblock %}

{% block body %}
    {% for character in characters %}
    <article>
        <details>
            <summary role="button" class="outline">{{ character.name }}</summary>
            <ul>
                <li><strong>Year birth:</strong> {{ character.birth_year }}</li>
                <li><strong>Size:</strong> {{ character.height }}</li>
                <li><strong>Weight:</strong> {{ character.mass }}</li>
                <li><strong>Hair color:</strong> {{ character.hair_color }}</li>
                <li><strong>Eyes color:</strong> {{ character.eye_color }}</li>
                <li><strong>Skin color:</strong> {{ character.skin_color }}</li>
            </ul>
            <a href="{{ 
                    path(
                        'app_character',
                        {
                            'id': character.url|replace({
                                'https://swapi.py4e.com/api/people/': '',
                                '/': ''
                            }), 
                        }
                    )
                }}">
                    Voir +
            </a>
        </details>
    </article>
    {% endfor %}
{% endblock %}
